body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #5dacbd;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-space{
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.buttons{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.title, footer{
    background-color: #24527a;
    color: #e0ebeb;
}

footer{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lefty-footer-part{
    flex-direction: column;
}

.lefty-footer-part p{
    margin: 4px;
}

a{
    color: #a7bcb9;
    text-decoration: none;
}

.px-32{
    height: 32px;
    width: 32px;
}